* {
 margin: 0px; 
 padding: 0px;
 border: 0px; 
 font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
 box-sizing: border-box;
}
header {
  display: flex; 
  justify-content: space-between;
  height: 64px;
  width: 100%;
  background-color: #000000;
}

a {
  padding: 10px;
}
a:hover { 
  border-radius: 30px;
  background-color: #333333;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
}


.header-menu-style {
 display: flex;
 align-items: center; 
 justify-content: space-around; 
 width: 40%;
}

.btn-header {
  display: flex;  
  padding: 10px 12px;
  margin: 0 5px;
  align-items: center; 
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px; 
  border-bottom-right-radius: 30px; 
  border-top-right-radius: 30px;
  background-color:  #000000;
  color: #FFFFFF;
} 

.btn-header:hover {
  border-radius: 30px;
  background-color: #333333;
}
.btn-header div {
  margin-right: 15px;
}

.text-white {
  font-size: 14px;
  font-weight: 600; 
  color: #FFFFFF;
  text-decoration: none;
}

.bg-white {
  background-color: #FFFFFF; 
}

.text-black {
  color: #000000; 
  font-weight: 700; 
}

.bgc {
  background-color: #f7f7f6; 
}
main {
  width: 100%; 
  height: auto;
}


.main-container {
  display: flex;
  height: auto;
  width: 100%;  
  justify-content: space-between;
  flex-wrap: no;
}

.main-first-part {
  width: 100%;
  height: 50%; 
}

.text-wrap {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 50px 60px;
  }

.text-wrap span {
  font-weight: 500;
  font-size: 52px;
  
}

.main-img {
  height: 70%; 
  width: 100%;
  margin-bottom: 60px;  
}

.main-second-part {
  display: flex;   
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin-bottom: 120px;
  padding: 110px 0; 
}

.input-block {
  display: flex;
  align-items:center;
  justify-content: space-around;
  font-size: 36px;
  margin: 0px 30px;
  width: 50%;
  height: 100%;
  
}

.text-input-block {
  display: flex;
  width: auto;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.arrow {
  margin-left: 180px;
}

.arrow-two {
  margin-left: 320px;
}

footer {
  height: auto; 
  width: 100%; 
  color: #FFFFFF; 
  background-color: #000000;
}



.footer-container {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
}


.footer-first-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:40px 40px 0px 40px; 
}

.footer-special-text {
  font-size: 28px; 
}

.footer-line-margin {
  margin-top: 40px;
}
.footer-text-title {
  font-weight: 500;
  font-size: 18px;
}

.footer-text-subtitle {
  font-size: 14px;
  color: #FFFFFF;
  padding-top: 10px;
}

.footer-text-bottom {
  padding-bottom: 45px; 
}

.footer-text-bottom:hover {
  border-bottom: 1px solid white;
}

.footer-text-block {
  display: inline-block;
  margin-left: 40px;
}

.footer-text-spacing {
  padding-top: 10px;
}
.footer-text-left {
   margin-left: 40px; 
}
.footer-wrapper {
  inline-size: 400px; 
  overflow-wrap: break-word;
 }

 .footer-flex {
   flex: 1; 
 }

 .footer-icones {
   display: inline-flex;
   width: 20%; 
   justify-content: space-between;
 }

 .footer-icones-extra {
   display: inline-flex;
   justify-content: flex-end;
   align-items: center;
   margin-right: 15px;
 }

.footer-img {
  width: 25%;
  margin-left: 20px;
}

.footer-right-align {
  margin-right: 20px;
}

.footer-end-padding {
 padding-top: 40px;
 padding-bottom: 80px;
}

.footer-end-font {
  font-size: 12px; 
  color: #AFAFAF; 
}
